html,body {
    height:100%;
    padding:0;
    margin:0;
}

.lookup-sidebar {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.lookup-sidebar .content {
    width: 100%;
    display: block;
    height: -moz-calc(100% - 20px);
    height: -webkit-calc(100% - 20px);
    height: calc(100% - 20px);
}

.lookup-sidebar .content iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.lookup-sidebar .actions {
    background: white;
    position: fixed;
    bottom: 0 !important;
    right: 0 !important;

    height: 20px;
    width: 100%;
}

.lookup-sidebar .actions .source-list select[name="source"] {
    width: 100%;
    height: 20px;

    display:block;
}
